.criminalsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
  height: 100%;
  border: black solid 1px;
  margin: 5px
}

.criminal {
  border: 1px dotted black;
  margin: 1em;
  padding: 0px 10px 19.19px;
  flex-basis: 25%;
}