body {
  margin: 0;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

header {
  background-color: #333333;
  height: 75px;
  text-align: center;
}

header > img {
  height: inherit;
}

.filters {
  display: flex;
}

.mainContent {
  display: flex;
  overflow: auto;
  /* padding: 5px; */
  /* height: auto; */
}

.container--left {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.container--right {
  flex: 1;
  /* height: 100%; */
  /* padding: 5px; */
}

.alibiCard {
  border: black solid 1px;
  margin: 5px;
  padding: 0 5px 5px;
}


button#witnessView {
  margin: 5px;
}

button#facilityView {
  margin: 5px;
}

h1 {
  margin: 5px;
}