body {
  margin: 0;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

header {
  height: 50px;
  background-color: #333333;
}

.filters {
  display: flex;
}

.mainContent {
  display: flex;
  overflow: auto;
  margin: 5px;
}

.container--left {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.container--right {
  flex: 1;
}

.alibiCard {
  border: black solid 1px;
  margin: 5px;
  padding: 0 5px 5px;
}
