/* Form */
.noteFormContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  /* margin: 10px; */
  /* height: 20vh; */
}

#noteText {
  width: 100%;
  height: 100px;
  margin: 5px;
}

.noteListButton {
  /* display: flex; */
  order: 1;
  margin: 5px;
}

/* Notes when Shown */
.noteListContainer {
  display: flex;
  /* flex-direction: column; */
  height: 70vh;
}

.noteList {
  /* display: flex; */
  /* flex-direction: column; */
  overflow-y: auto;
  margin: 0px;
  /* height: 36vh; */
}

.note {
  border: black solid 1px;
  margin: 5px;
  padding: 5px;
}


#noteAuthor {
  margin: 5px;
}

#noteForm--criminal {
  margin: 5px;
}

button#saveNote {
  margin: 5px;
}